<h2>Template</h2>
<hr>
<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" 
              #miFormulario="ngForm">

            <div class="mt-3 row">
                <label class="col-sm-3 col-form-label">producto</label>
                <div class="col-sm-9">

                    <input type="text"
                            [ngModel]="initForm.producto"
                            name="producto"
                            class="form-control"
                            placeholder="Nombre del Producto"
                            required
                            minlength="3">
                    <span class="form-text text-danger" *ngIf="nombreValido()">Debe de ser 3 letras minimo</span>

                </div>
            </div>

            <div class="mt-3 row">
                <label class="col-sm-3 col-form-label">precio</label>
                <div class="col-sm-9">

                    <input type="number"
                            [ngModel]="initForm.precio"
                            name="precio"
                            class="form-control"
                            placeholder="Precio del Producto"
                            required>
                    <span class="form-text text-danger" *ngIf="precioValido()">El precio debe de ser 0 o mayor</span>
                </div>
            </div>
                    

            <div class="mt-3 row">
                <label class="col-sm-3 col-form-label">existencias</label>
                <div class="col-sm-9">

                    <input type="number"
                            [ngModel]="initForm.existencias"
                            customMin
                            [minimo]="0"
                            name="existencias"
                            class="form-control"
                            required
                            placeholder="Existencias del Producto">
                 </div>
            </div>
                    

            <div class="row">
                <div class="col">
                    <button type="submit"
                            [disabled]="miFormulario.invalid"
                            class="btn btn-primary float-end">
                        guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>


<div class="row">
    <div class="col">

        <span>valid</span>
        <pre>{{miFormulario.valid}}</pre>
        <span>pristine</span>
        <pre>{{miFormulario.pristine}}</pre>
        <span>touched</span>
        <pre>{{miFormulario.touched}}</pre>
        <span>valid</span>
        <pre>{{miFormulario.valid | json}}</pre>

    </div>
    
</div>